<% provide(:title, "About") %>

<h1>About Ride With Me</h1>
<p>This site is a massive work in progress, with probably no end point, by Richard Hadden so that he can learn Ruby on Rails.</p>

<p>The initial bits are all copied verbatim from Michael Hartl's tutorial, which is excellent. Thanks.</p>
