<div class="center hero-unit">
  <h1>Welcome to Ride With Me</h1>

  <h2>
    The dating site for people who like people who like bikes, who like bikes.
  </h2>

  <% unless signed_in? %>
  	<%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
  <% end %>
</div>