<footer class="footer">
  <small>
    Ride With Me by Richard Hadden 2013
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
    </ul>
  </nav>
</footer>